/* HEADER  */
.header-container{
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  background-color: var(--DarkBlue);
  height: 10vh;
  color: var(--White);
  align-items: center;
}

.btn-dark-mode {
  background-color: var(--color-bg-secondary);
  opacity: 1;
  transition: 0.3s;
  color: var(--color-text);
  border: none;
  cursor: pointer; /* border none lo borra */
  outline: none; /* quitamos el borde al hacer click */
}
body {
  --color-bg: #FAFAFA;
  --color-bg-secondary: #ffffff;
  --color-text: #000000;
  font-family: 'Nunito Sans', sans-serif;
  background-color: var(--color-bg);
  color: var(--color-text);
}

body.dark-theme {
  --color-bg: #202D36;
  --color-bg-secondary: #2B3743;
  --color-text:#ffffff;
}